* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --darkpink:#ed405a;
  --lightyellow:#f7a757;
  --mountaincolor:#460c00;
  --dark:0.4;
  --darker:0.3;
  --darkest:0.2;
  --darkmostdarkest:0.25;
  --circlecolor:rgb(230, 222, 222);
  --nevyblue:#10111d;
  --lightblue:#22628d;
  --white:#fff;
}
.page {
  width: 100%;
  float: left;
}
.main {
  width: 100%;
  float: left;
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg,var(--darkpink),var(--lightyellow));
}

.layer1{background:var(--mountaincolor) ; width: 100%;height: 200px;position: absolute;bottom: 0;mask:url("../images/layer1_new.svg");-webkit-mask:url("../images/layer1_new.svg");mask-size: cover;-webkit-mask-size: cover;opacity: var(--dark);}

.layer2{background:var(--mountaincolor) ; width: 100%;height: 200px;position: absolute;bottom: 0;mask:url("../images/layer2_new.svg");-webkit-mask:url("../images/layer2_new.svg");mask-size: cover;-webkit-mask-size: cover;opacity: var(--darker);}

.layer3{background:var(--mountaincolor) ; width: 100%;height: 200px;position: absolute;bottom: 0;mask:url("../images/layer3_new.svg");-webkit-mask:url("../images/layer3_new.svg");mask-size: cover;-webkit-mask-size: cover;opacity: var(--darkest);}

.layer4{background:var(--mountaincolor) ; width: 100%;height: 200px;position: absolute;bottom: 0;mask:url("../images/layer4_new.svg");-webkit-mask:url("../images/layer4_new.svg");mask-size: cover;-webkit-mask-size: cover;opacity: var(--darkmostdarkest);}

.circle{width: 100px;height: 100px;position: relative;left:0;right: 0;margin: 0 auto;background:var(--circlecolor);border-radius: 100px;top:20%;opacity: var(--darkmostdarkest);}

.circle:before{width: 100px;height: 100px;position: absolute;left:0;right: 0;margin: 0 auto;background:var(--circlecolor);border-radius: 100px;content: "";filter: blur(5px);transform: scale(1.1);}



/*---- switcher button css */
.switch-outer {
  width: 100%;
  float: left;
}
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.theme-switch__input {
  opacity: 0;
}
.theme-switch__input:hover + .theme-switch__label,
.theme-switch__input:focus + .theme-switch__label {
  background-color: lightSlateGray;
}
.theme-switch__input:hover + .theme-switch__label span::after,
.theme-switch__input:focus + .theme-switch__label span::after {
  background-color: #d4ebf2;
}

.theme-switch__label {
  padding: 20px;
  margin: 60px;
  transition: background-color 200ms ease-in-out;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}
.theme-switch__label::before,
.theme-switch__label::after {
  font-size: 2rem;
  position: absolute;
  transform: translate3d(0, -50%, 0);
  top: 50%;
}
.theme-switch__label::before {
  content: "\263C";
  right: 100%;
  margin-right: 10px;
  color: orange;
}
.theme-switch__label::after {
  content: "\263E";
  left: 100%;
  margin-left: 10px;
  color: lightSlateGray;
}
.theme-switch__label span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
}
.theme-switch__label span::after {
  position: absolute;
  top: calc(100% + 15px);
  left: 5px;
  width: 40px;
  height: 40px;
  content: "";
  border-radius: 50%;
  background-color: lightBlue;
  transition: transform 200ms, background-color 200ms;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}

.theme-switch__input:checked ~ .theme-switch__label::before {
  color: lightSlateGray;
}
.theme-switch__input:checked ~ .theme-switch__label::after {
  color: turquoise;
}
.theme-switch__input:checked ~ .theme-switch__label span::after {
  transform: translate3d(70px, 0, 0);
}

.theme-switch__input:checked ~ .main{background: linear-gradient(180deg,var(--nevyblue),var(--lightblue));}

.theme-switch__input:checked ~ .theme-switch__label{color:var(--white)}



